<h1>ももたろう～誕生編～</h1>
<p>
むかしむかし、あるところに、おじいさんとおばあさんが住んでいました。
おじいさんは山へしばかりに、おばあさんは川へせんたくに行きました。
おばあさんが川でせんたくをしていると、おじいさんが大きな桃とドンブラコ、ドンブラコと流れてきました。 「おや、これは良いおみやげになるわ」
おじいさんは大きな桃をひろいあげて、家に持ち帰りました。
そして、おじいさんとおばあさんが桃を食べようと桃を切ってみると、なんと中から元気の良い男の赤ちゃんが飛び出してきました。
「これはきっと、神さまがくださったにちがいない」
子どものいなかったおじいさんとおばあさんは、大喜びです。
桃から生まれた男の子を、おじいさんとおばあさんはももたろうと名付けました。
ももたろうはスクスク育って、やがて強い男の子になりました。
</p>
<a href="/second">鬼に会いに行く編</a>
