ももたろうは、まず鬼に困っている人の現状をインタビューしようと、新橋駅SL広場に出向く。<br>
その辺を歩いていた酔っ払いから聞けた話は、以下の通り。<br>
<br>
１．鬼が怖い。<br>
２．鬼に殴られた。<br>
３．鬼にぼったくられた。<br>
<br>
この現状を憂いた桃太郎は、現状を打破しようと決心するのであった。<br>
<br>
<a href="/third">続く</a>


