<div style="
    margin: 20px;
">
人気の絶頂にあったアイドルが「事務所社長の息子との密会」というスキャンダルで失脚。アイドルのマネージャー「立花由布」も、真相を探るさなかに謎の転落死を遂げた。<br>
警察は由布の死を自殺と断定したが、そのことに不審を抱く者が2人いた。1人はスキャンダルを仕掛けられた張本人で、由布の親友でもあった「桂木なお」。もう1人は由布の婚約者「阿佐桐卓也」。<br>
2人はそれぞれに復讐を決意。関係者が集まるレジャー施設「星見島」でその機会を伺うのだが、そこにはかの名探偵の孫「金田一一」とその仲間たちが居合わせていた…。
わーわー
</div>
<a href="/return">次へ</a>
