<div>
  <div>
    <ul>
      <li>ももたろう「鬼まじむかつく！」</li>
      <li>「殺るか！」</li>
      <li>「ちょっと鬼ヶ島行ってくる！」</li>
      <li>じいさん「・・・」</li>
      <li>ばあさん「・・・」</li>
      <li>村人A「わいも行くで！」</li>
    </ul>
  </div>
  <div>
  <a href="fourth">4章へ進む</a>
  </div>    
</div>
